
<div class="row" style="margin-top:30px;">



    <div class="col-lg-2 col-md-2 col-sm-12">
            <%- include('../sidebar.ejs') -%>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12">
        <br>
        <h3><%= title %></h3>       
        <%- include('app_form.ejs') -%>
    </div>

</div>