<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='/js/jquery-3.3.1.min.js'></script>
    <script type="text/javascript" src='/js/common.js'></script>
    <script type="text/javascript" src='/js/bootstrap/bootstrap.min.js'></script>
  </head>
  <body>
    <div class="container">
      <%- include('header') -%>

      <%- include(view) -%>

      <%- include('footer') -%>
  </div>
  </body>
</html>
